/* Header default */

.tf-header {
  position: fixed;
  z-index: 999;
  transition: all 0.7s ease;
}

.tf-header.header2 {
  width: 100%;
  left: 0;
  right: 0;
  top: 32px;
  transition: all 0.7s ease;
}

.tf-header.header2 .header-inner {
  width: 807px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  transform: none;
  transition: all 0.7s ease;
}

.tf-header .header-inner {
  backdrop-filter: blur(44px);
  background-color: #f2f2f1;
  border-radius: 14px;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  display: flex;
  transition: all 0.7s ease;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
}

.tf-header.header-scrolled .header-inner {
  width: 550px;
  transition: all 0.7s ease;
}

.logo-site img {
  flex-shrink: 0;
  height: 30px;
  transition: all 0.3s ease;
}

.scrolled-nav .item-link {
  font-size: 14px;
}

.nav-menu-main {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
  color: #000;
  font-size: 15px;
  font-weight: 500;
}

.box-navigation {
  transition: all 0.7s ease;
}

.nav-hide {
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  visibility: hidden;
  width: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.nav-show {
  opacity: 1;
  transform: translateX(0);
  width: auto;
  overflow: visible;
}

/* button animation */

.tf-btn {
  transition: all 0.5s ease;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 500;
  white-space: nowrap;
  transform-origin: top;
  /* border: none; */
}

.tf-btn:hover {
  border-color: black;
}

.btn-dark {
  background-color: #ffc107;
  color: white;
  /* border: 1px solid black; */
  /* border-color: black; */
}

.btn-dark:hover {
  background-color: #000;
  color: #ffc107;
  /* border: 1px solid #ffc107; */
}

.tf-btn:focus {
  color: #fff;
}

.btn-hide {
  opacity: 0;
  pointer-events: none;
  width: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transform: translateX(-10px);
}

.btn-show {
  opacity: 1;
  transform: translateX(0);
}

.header-actions {
  display: flex;
  align-items: center;
}

.btn-show+.btn-show {
  margin-left: 5px;
}

.tp-offcanvas-area {
  /* background-color: #0000008f; */
  position: fixed;
  backdrop-filter: blur(4px);
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateY(100%);
}

.tp-offcanvas-main {
  text-align: right;
}

/* Nav links */
.tp-offcanvas-main .tp-main-menu-content ul {
  list-style: none;
  padding: 0;
}

.tp-offcanvas-main .tp-main-menu-content ul li a {
  padding-right: 0;
}

.tp-offcanvas-social ul {
  justify-content: flex-end;
}

.tp-offcanvas-social .hero-socials .fa-brands {
  font-size: 18px;
}

ul.hero-socials li a {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .tf-header.header2 .header-inner {
    width: unset !important;
    margin: 0 30px;
  }
}