html {
    scroll-behavior: smooth;
    transition: all 4s;
}

.tp-hero-3-title {
    letter-spacing: -4.2px;
    font-size: 94px;
    font-weight: 500;
    font-family: var(--tp-ff-heading);
}

.bg-hero {
    background:
        radial-gradient(at 0% 0%, #fef9c3 0%, transparent 50%),
        radial-gradient(at 100% 0%, #bfdbfe 0%, transparent 50%),
        radial-gradient(at 100% 100%, #fce7f3 0%, transparent 50%),
        radial-gradient(at 0% 100%, #d1fae5 0%, transparent 50%);
    background-color: #fff;

}


.floating-logo .i-1,
.floating-logo .i-2 {
    top: -80px;
}

.floating-logo .i-3,
.floating-logo .i-4 {
    top: 40px;
}

.floating-logo .i-5,
.floating-logo .i-6 {
    top: 168px;
}

.floating-logo .i-7,
.floating-logo .i-8 {
    top: 300px;
}

.floating-logo img {
    background: transparent;
    filter: drop-shadow(0px 4px 14px rgba(255, 255, 255, 0.6));
}

.case-masonry-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
    align-items: start;
}

.case-masonry-item {
    break-inside: avoid;
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
}

.case-masonry-item:nth-child(even) {
    margin-top: 80px;
}

.case-card {
    text-decoration: none;
    display: block;
}

.case-card-image-wrapper {
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 520px;
    height: 725px;
}

.case-card-image-wrapper:hover {
    transform: scale(1.02);
}

.case-masonry-item:nth-child(odd) .case-card-image-wrapper {
    height: auto;
    margin-top: 0;
}

.case-masonry-item:nth-child(even) .case-card-image-wrapper {
    height: auto;
}

.case-card-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}

.case-card-info {
    margin-top: 16px;
    margin-bottom: 8px;
}

.case-card-title {
    font-size: 22px;
    font-weight: 600;
    color: #000;
    margin-top: 6px;
    padding: 10px 0;
}

.portfolio-filter button {

    margin: 0 20px 0px;
}

.sv-service-area h2 {
    font-size: 60px;
    margin-bottom: 20px;
}

.services_box {
    color: #fff;
    position: relative;
    border-radius: 18px;
    min-height: 300px;
    width: 100%;
    height: auto;
    margin: 10px 0;
    padding: 10px;
    transition: background-color .3s, color .3s;
    display: flex;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    box-shadow:
        inset 0 -8px #0000000f, inset 0 5px #fff9, inset -2px 0 #fff9, inset 2px 0 #fff9, 0 3.77px 2px #0000000f, 0 3px 0px #fff9;
}

.services_box:hover {
    background-color: #ffffff !important;
    color: #000 !important;
}


.services_box:hover .services_content h3,
.services_box:hover .services_content p {
    color: #000 !important;
}

.services_image {
    margin-bottom: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 0;
}

.services_box:hover .services_image {
    z-index: 0;
}

.services_box img {
    display: block;
    float: right;
    filter: brightness(0) invert(0.4);
    transition: filter 0.4s ease, opacity 0.4s ease;
    width: 140px;
    height: auto;
}

.services_box:hover img {
    filter: brightness(0) invert(0.1);
}

.services_content {
    display: flex;
    flex-direction: column;
    /* width: 60%; */
    padding-top: 80px;
    padding-left: 15px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    max-width: 80%;
}


.services_content h3,
.services_content p {
    color: #fff;
    transition: color 0.3s ease;
}

.services_content a {
    border: 1px solid transparent;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: #ffc107;
    color: #fff;
    width: 50%;
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
    font-weight: 600;
}

.case-card-service {
    color: #000;
    text-transform: capitalize !important;
    letter-spacing: 1.5px;
    font-size: 14px;
    border: 1px solid transparent;
    padding: 5px 10px;
    border-radius: 16px;
    background: #f2f2f1;
}

.project-details-1-left .project-details-1-thumb img {
    width: 100%;
}

.tm-hero-text {
    padding-left: 0px;
}

.tm-hero-text p {
    max-width: unset;
}

.tp-service-5-area .container {
    max-width: 1440px;
}

.tp-service-5-title .text-space {
    padding-left: 0px;
}

.tp-service-5-item.space-1 {
    padding-left: 0px;
    padding-right: 0px;
}

.tp-service-5-item.space-2 {
    padding-left: 0px;
    padding-right: 0px;
}

.tp-service-5-item.space-3 {
    padding-left: 0px;
    padding-right: 0px;
}

.tp-service-5-wrap {
    margin-left: 0px;
}

.tp-service-4-icon {
    position: relative;
}

.tp-service-4-icon span {
    font-size: 130px;
    position: absolute;
    top: -8px;
    left: 268px;
    z-index: -1;
    opacity: 0.6;
    color: #8a83be;
    font-weight: 400;
}

.ab-about-category-title-box {
    padding-left: 0px;
}

.service_form {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: rgb(255 255 249 / 22%);
    border-radius: 14px;
    min-height: 430px;
    padding: 20px;
    box-shadow: 0 1px 8px rgba(214, 214, 214, .73);
}

.service_form input,
.service_form textarea {
    background-color: transparent;
    padding-left: 12px;
    height: unset;
    border-radius: 5px;
}

.service_form input::placeholder,
.service_form textarea::placeholder {
    font-size: 16px;
}

.service_form h2 {
    text-align: center;
    padding: 10px 0;
    margin-bottom: 15px;
}

.service_hero {
    padding-top: 90px !important;
    padding-bottom: 5px !important;
}

.service_detail_heading {
    font-size: 92px !important;
    font-weight: 400 !important;
}

.service_detail_para {
    padding-top: 20px;
    font-size: 15px;
}

.service_h1 {
    font-size: 3.2rem !important;
}

.services_box_changes {
    color: #000 !important;
    border-radius: 18px;
    width: 100%;
    min-height: 300px;
    margin: 10px 0;
    padding: 10px;
    transition: background-color .3s, color .3s;
    display: flex;
    position: relative;
    background-color: #f4f4f5;
    height: auto;
    box-shadow: inset 0 -8px #0000000d, inset 0 4px #fff9, 0 3.77px 2px #0000000f, 0 3px 3px #0000001a;
}

.services_box_changes:hover {
    background-color: #000 !important;
    opacity: 1;
}

.services_box_changes:hover .services_content h3,
.services_box_changes:hover .services_content p {
    color: #fff !important;
}

.services_box_changes .services_image {
    margin-bottom: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 20;
}

.services_box_changes img {
    display: block;
    float: right;
    color: #000;
    transition: color 0.4s ease;
    width: 140px;
    height: auto;
}

.services_box_changes:hover img {
    filter: brightness(0) invert(0.3);
}

.services_box_changes .services_content {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding-top: 80px;
    padding-left: 15px;
    z-index: 99;
    overflow: hidden;
}

.services_box_changes .services_content h3,
.services_box_changes .services_content p {
    color: #000;
    transition: color 0.3s ease;
}

.services_box_changes .services_content a {
    border: 1px solid transparent;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: var(--color_btn_golden);
    color: #000;
    width: 50%;
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
}

.desktop-filters {
    display: flex;
}

.mobile-filter-dropdown {
    display: none;
}

.fs-1 {
    font-size: 3rem !important;
    font-weight: 500 !important;
}

.tp-footer-3-social a {
    color: #000;
    border: 1px solid #000;
}

.tp-footer-3-social a:hover {
    border: 1px solid var(--color_btn_golden);
    color: var(--color_btn_golden);
    background: transparent;
}

.fq-faq-area .row {
    justify-content: center;
}

.fq-faq-area .col-xl-12 {
    flex: none;
    width: 807px !important;
}

.tp-servicehero {
    padding-top: 210px;
    padding-bottom: 40px;
}

.tp-contact-form .col-lg-4 {
    position: sticky;
    top: 40px;
    align-self: flex-start;
    height: fit-content;
}

.tp-contact-form .row {
    align-items: flex-start;
}

.tp-contact-form .tp-footer-2-contact-item {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0);
    padding: 10px 10px;
    border-radius: 10px;
    /* background-color: #f4f4f5; */
    /* box-shadow: inset 0 -8px #0000000d, inset 0 4px #fff9, 0 3.77px 2px #0000000f, 0 3px 3px #0000001a; */
}


.tp-contact-form .tp-footer-2-contact-item span {
    color: #000;
    display: flex;
    align-items: center;
    gap: 10px;

}

.tp-contact-form i {
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 50px;
    color: #fff;
    background-color: var(--color_btn_golden);
    margin-top: 0 !important;
}

.tp-contact-form h1 {
    font-family: var(--tp-ff-gallery);
    font-weight: 600;
}

.tp-contact-form p {
    font-size: 14px;
    color: #000;
    padding-top: 20px;
}

.tp-contact-form form {
    /* padding-bottom: 50px; */
    padding: 20px 50px;
    padding-top: 0;
}

.tp-contact-form input {
    border: unset;
    border-bottom: 1px solid rgb(224, 226, 227);
    margin-bottom: 30px;
    height: 30px;
    padding-left: 0;
}

.tp-contact-form textarea {
    border: unset;
    border-bottom: 1px solid rgb(224, 226, 227);
    margin-bottom: 20px;
    margin-top: 40px;
    /* min-height: 40px !important; */
    height: 50px !important;
    padding-left: 0;
    padding-bottom: 0;
    resize: none;
    overflow-y: hidden;
    padding-top: 25px;
}

.tp-contact-form .budget {
    display: flex;
    align-items: center;
    padding: 20px 0;
    gap: 10px;
}

.tp-contact-form input[type="radio"] {
    display: none;
    margin-bottom: 20px;
}

.tp-contact-form label {
    cursor: pointer;
    padding: 2px 4px;
    margin: 0 0 0 5px;
    border: 1px solid #ccc;
    border-radius: 999px;
    background-color: #e2e1e1;
    font-size: 12px;

}

.tp-contact-form input[type="radio"]:checked+label {
    background: black;
    color: white;
    border-color: black;
}

.submitbtn {
    display: flex;
    justify-content: flex-end;
}

.react-tel-input .form-control {
    width: 100% !important;
    border: none !important;
    border-bottom: 1px solid #e0e2e3 !important;
    border-radius: 0 !important;
    background: transparent !important;
    padding-left: none !important;
    padding: 15px 40px;
    height: 0 !important;
}

.react-tel-input .form-control::placeholder {
    color: #999;
    font-size: 14px;
    padding: 20px 10px;
    font-family: var(--tp-ff-heading);
}

.react-tel-input .flag-dropdown {
    border: none !important;
    border-radius: 0 !important;
    background: transparent !important;
}

.react-tel-input .flag-dropdown.open {
    background: transparent !important;
}

.react-tel-input .form-control:focus {
    border-color: transparent !important;
    box-shadow: none !important;
    border-bottom: 1px solid black !important;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
    background-color: unset;
}

.tp-brand-4-area {
    z-index: 1;

}

.fq-faq-wrapper .tp-service-2-accordion-box .accordion-header .accordion-buttons {
    padding: 20px 15px 20px 0px;
    font-size: 22px;
    font-weight: 500;

}

.tp-service-2-accordion-box .accordion-body p {
    margin-bottom: 20px;
}

.tp-service-2-accordion-box .accordion-header .accordion-buttons .accordion-icon {
    top: 32px;
}

#ai-hero .tp-hero-3-title {
    font-size: 60px;
    line-height: 58px;
}

#ai-hero .tp-hero-3-category {

    font-size: 16px;
    line-height: 24px;
}

#ai-hero .tp-reveal-line {
    padding-bottom: 0px;
    overflow: hidden;
}

.industries-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    justify-content: center;

}

.industry-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon-box {
    width: 100%;
    height: 120px;
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    color: #000;
    margin-bottom: 12px;
    transition: all 0.3s ease;
}

.industry-item:hover .icon-box {
    transform: translateY(-5px);
    border-color: #4f46e5;
    box-shadow: 0 4px 12px rgba(79, 70, 229, 0.1);
}

.ai-agent h2 {
    padding-bottom: 20px;
}

.ai-agent .icon i {
    font-size: 30px;
    background-color: #8a83be;
    border-radius: 90px;
    padding: 10px 10px;
    color: #fff;
}

.ai-agent .content {
    text-align: start;
}

.ai-agent .content h4 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 0;
    line-height: 12px;
}

.agent_content span {
    line-height: 18px;
}

.ai-agent .content p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}

.ai-agent .content .list-text.type-check {
    list-style-type: none;
}

.ai-agent .content .list-text.type-check li {
    display: flex;
    gap: 10px;
    align-items: center;
    line-height: 20px;
}

.ai-agent .content .list-text.type-check li i {
    color: green;
    font-weight: bold;
    background-color: transparent;
}

.ai-agent .content a {
    color: green;
    font-weight: 600;
    padding-top: 10px;
}

.ai-main-box {
    background-color: white;
    padding: 40px 0;
    border-radius: 24px;
    box-shadow:
        0 8px 20px rgba(111, 34, 134, .12), 0 3px 6px rgba(234, 43, 137, .08), inset 0 -8px #ffc107, inset 0 6px #ffc107
}

.booking_system {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin: 0 auto;
    gap: 10px;
}

.booking_agent {
    display: flex;
    align-items: center;
    gap: 10px;
}

.booking_agent .agent_content {
    display: flex;
    flex-direction: column;
}

.booking_agent i {
    font-size: 30px;
    background-color: #8a83be;
    padding: 10px;
    border-radius: 40px;
    color: #fff;
}

.cal_tool img {
    width: 140px;
    height: auto;
    object-fit: contain;
}

.cal_tool span {
    font-size: 20px;
    color: #000;
}

.cal_tool .container {
    background-color: #8a83be42;
    padding: 20px 0;
    border-radius: 20px;
}

.calendar_products {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#product-form .content-wrap .sub {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#product-form h2 {
    color: #000000;
    font-size: 60px;
    line-height: 58px;
    letter-spacing: -4px;
}

#product-form .container {
    border-radius: 18px;
    padding: 40px !important;
    background: radial-gradient(at 0 0, #efe14e 0%, rgba(0, 0, 0, 0) 50%), radial-gradient(at 100% 0, #579aec 0%, rgba(0, 0, 0, 0) 50%), radial-gradient(at 100% 100%, #fce7f3 0%, rgba(0, 0, 0, 0) 50%), #fff radial-gradient(at 0 100%, #d1fae5 0%, rgba(0, 0, 0, 0) 50%);
}

#product-form .content-wrap {
    padding: 0px !important;
}

#product-form .form-icon {
    display: flex;
    gap: 18px;
    align-items: center;
    margin-bottom: 30px;
}

#product-form .form-icon i {
    font-size: 40px;
    background-color: #ccc;
    padding: 8px 10px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
}

#product-form .form-icon h3 {
    font-weight: 500;
}

#product-form .form-icon p {
    font-size: 18px;
    color: #7e7e7e;
}

#product-form #form {
    background-color: #fff;
    border-radius: 18px;
    padding: 20px 30px;
    box-shadow:
        0 7.77px 16px #0000,
        0 3px 3px #00000029,
        inset 0 -8px #0000001f,
        inset 0 8px #e5e5e5;
}

#product-form #form textarea {
    border-radius: 0;
}

#product-form .row .col-lg-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#product-form #form select option {
    background-color: white;
    color: #111;
}

#product-form select.contact-select {
    /* margin-left: 10px; */
    background: #fff;
    color: #000;
    border: 1px solid #d6d6d6;
    border-radius: 0px;
}

#product-form label {
    margin-top: 20px;
    margin-bottom: 10px !important;
}

#product-form .form-feature {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px;
    list-style: none;
}

#product-form .form-feature .icon {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

#product-form .form-feature .icon svg {
    font-size: 20px;
    background-color: #ccc;
    padding: 12px;
    border-radius: 80px;
    color: #000;
}

#product-form .form-feature .icon h6 {
    font-size: 14px;
    line-height: 12px;
    font-weight: 600;
    margin-bottom: 0px;
}

#product-form .form-feature .icon p {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0px;
}

#product-form .special-label {
    display: none;
}

#product-form .react-tel-input .form-control {
    padding: 0px 26px;
    width: 100% !important;
    padding-left: none !important;
    background: none !important;
    border: 1px solid #e8e4e4 !important;
    border-bottom: 1px solid #e0e2e3 !important;
    border-radius: 0 !important;
    height: 55px !important;
}

ul.feature-lst li {
    display: flex;
    gap: 18px;
    color: #000;
}

.feature-icon {
    border: 2px solid #b9b9b9;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 7px 10px;
    height: 48px;
    width: 8%;
}

.feature-text strong {
    font-size: 16px;
    line-height: 0px;
}

.feature-text p {
    font-size: 14px;
}

.feature-icon .icon-size {
    width: 100%;
    height: 25px;
}

.icon-wrapper svg {
    /* border: 1px solid #000; */
    height: 38px;
    width: 100%;
    color: #000;
}

.icon_text p {
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    padding-top: 10px;
}

.main-icon-box {
    border: 1px solid #000;
    border-radius: 8px;
    padding: 10px 10px;
    margin-top: 10px;
}

#product-form .upwork-btn {
    background-color: #000;
    /* margin-left: 10px; */
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
    margin: 10px auto;
    line-height: unset;
}

#ai-hero img {
    height: 500px;
}

p.industry-text {
    font-size: 12px;
    font-weight: 500;
}

#product-form .contact-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8'%3E%3Cpath d='M1 1l5 5 5-5' stroke='%23000' stroke-width='1.5' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 12px;
    padding: 10px 40px 10px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
    color: #000;
    /* ye add karo */
    background-color: #fff;
    /* ye bhi confirm karo */
}

@media (max-width: 767px) {

    .services_box .services_content,
    .services_box_changes .services_content {
        width: 100%;
        max-width: 80%;
        padding-top: 40px;
    }

    .services_box .services_image,
    .services_box_changes .services_image {
        top: 10px;
        right: 10px;
    }

    .services_content a,
    .services_box_changes a {
        width: 100%;

    }

    .services_box .services_image img,
    .services_box_changes .services_image img {
        width: 90%;
        height: auto;
    }

    .service_h1 {
        font-size: 30px !important;
    }

    .sv-service-area h2 {
        font-size: 40px;
    }

    .case-masonry-grid {
        grid-template-columns: 1fr;
    }

    .case-card-image-wrapper {
        width: 100%;
        height: auto;

    }

    .desktop-filters {
        display: none !important;
    }

    .mobile-filter-dropdown {
        display: flex;
        justify-content: center;
    }

    .case-masonry-item:nth-child(even) {
        margin-top: 20px;
    }

    .case-masonry-item:nth-child(odd) {
        margin-top: 20px;
    }

    .mobile-filter-dropdown select {
        width: 100%;
        max-width: 320px;
        padding: 10px 16px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 15px;
        background-color: #fff;
        cursor: pointer;
        appearance: auto;
        color: #000;
        /* browser default arrow */
    }

    .tp-hero-3-title {
        letter-spacing: -3.2px;
        font-size: 42px;
    }

    .service_detail_heading {
        font-size: 42px !important;
    }

    .tp-service-3-area {
        padding: 50px 0;
    }

    .ab-about-mt {
        margin-top: 0px;
    }

    .service_form input,
    .service_form textarea {
        margin: 5px 0;
    }

    .tp-about-3-area,
    .sv-service-area,
    .tp-brand-4-area,
    .slide-funfact-height,
    #tech-sec,
    .tp-testimonial-area,
    .fq-faq-area {

        padding-top: 40px;
        padding-bottom: 40px;

    }

    .tp-reveal-line {
        padding-bottom: 0px;
    }

    .pb-sm-0 {
        padding-bottom: 0;
    }

    .tp-servicehero {
        padding-top: 120px !important;
        padding-bottom: 0 !important;
    }

    .tp-footer-2-widget-title {
        margin-bottom: 15px;
        margin-top: 30px;
    }

    .tp-contact-form {
        padding-top: 100px;
    }

    .tp-contact-form form {
        padding: 10px 15px 20px;
    }

    .tp-contact-form label {
        margin-bottom: 10px;
    }

    .tp-contact-form .budget {
        align-items: start;
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    .fq-faq-wrapper .tp-service-2-accordion-box .accordion-header .accordion-buttons {
        font-size: 16px;
        padding-bottom: 0px;
    }

    .tp-service-2-accordion-box .accordion-header .accordion-buttons .accordion-icon:before {
        height: 15px;

    }

    .tp-service-2-accordion-box .accordion-header .accordion-buttons .accordion-icon:after {

        width: 15px;

    }

    .tp-service-2-accordion-box .accordion-body p {
        font-size: 14px;
        line-height: 18px;
    }

    .tp-contact-form input,
    .tp-contact-form textarea {
        padding-left: 0;
    }

    .tp-contact-form form {
        padding: 40px 5px;
    }

    .fq-faq-area h2 {
        margin-bottom: 10px;
    }

    #ai-hero .tp-section-subtitle-3 {
        font-size: 12px;
    }

    #ai-hero .tp-hero-3-title {
        font-size: 30px;
        line-height: 32px;
        letter-spacing: -1.2px;
    }

    #ai-hero .tp-reveal-line {
        text-align: center !important;
        font-size: 14px;
        line-height: 16px;
    }

    #ai-hero .sitechs-btn-1 {
        height: unset;
        padding: 20px 20px;
        line-height: 0;
        font-size: 14px;
        /* width: 36%; */
    }

    #ai-hero img {
        display: none;
    }

    #ai-hero .hero-ai-foot {
        font-size: 10px;
        line-height: 12px;
    }

    .industries-container {
        grid-template-columns: repeat(3, 1fr);

    }

    .perfect-industry h2 {
        font-size: 28px;
    }

    .ai-agent h2 {

        font-size: 28px;
    }

    .ai-agent .content {
        text-align: center;
        padding-top: 20px;
    }
}



/* .tp-contact-form */
/* Mac books */
/* @media (max-width: 1280px) {
    .services_content {

        width: 80%;
    }

    .services_box img {
        width: 120px;
        height: auto;
    }

    .services_box_changes .services_content {

        width: 80%;
    }

    .services_box_changes .services_image img {
        width: 120px;
        height: auto;
    }
} */

/* 
@media (max-width:375px) {
    .tp-hero-3-title {
        font-size: 38px;
    }

    .services_box .services_image img {
        width: 50%;
        height: auto;
    }

    .services_content {
        width: 90%;
        padding-top: 60px;
    }

    .service_h1 {
        font-size: 26px !important;
    }

    .services_box_changes .services_content {
        width: 90%;
    }

} */
/* 
@media (min-width: 975px) and (max-width: 1200) {
    .services_content {
        width: 100%;
    }
} */