html {
    scroll-behavior: smooth;
    transition: all 4s;
}

.case-masonry-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0px;
    align-items: start;
}

.case-masonry-item {
    margin-bottom: 0px;
}

.case-masonry-item:nth-child(even) {
    margin-top: 80px;
}

.case-card {
    text-decoration: none;
    display: block;
}

.case-card-image-wrapper {
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 520px;
    height: 725px;
}

.case-card-image-wrapper:hover {
    transform: scale(1.02);
}

.case-masonry-item:nth-child(odd) .case-card-image-wrapper {
    height: auto;
    margin-top: 0;
}

.case-masonry-item:nth-child(even) .case-card-image-wrapper {
    height: auto;
    margin-top: 0;
}

.case-card-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}

.case-card-info {
    margin-top: 16px;
    margin-bottom: 8px;
}

.case-card-title {
    font-size: 22px;
    font-weight: 600;
    color: #000;
    margin-top: 6px;
    padding: 10px 0;
}

.portfolio-filter button {

    margin: 0 20px 0px;
}

.sv-service-area h2 {
    font-size: 60px;
    margin-bottom: 20px;
}

.services_box {
    color: #fff;
    position: relative;
    border-radius: 18px;
    min-height: 300px;
    width: 100%;
    height: 350px;
    margin: 10px 0;
    padding: 10px;
    transition: background-color .3s, color .3s;
    display: flex;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    box-shadow:
        inset 0 -8px #0000000f, inset 0 5px #fff9, inset -2px 0 #fff9, inset 2px 0 #fff9, 0 3.77px 2px #0000000f, 0 3px 0px #fff9;
}

.services_box:hover {
    background-color: #ffffff !important;
    color: #000 !important;
}


.services_box:hover .services_content h3,
.services_box:hover .services_content p {
    color: #000 !important;
}

.services_image {
    margin-bottom: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 0;
}

.services_box:hover .services_image {
    z-index: 0;
}

.services_box img {
    display: block;
    float: right;
    filter: brightness(0) invert(0.4);
    transition: filter 0.4s ease, opacity 0.4s ease;
}

.services_box:hover img {
    filter: brightness(0) invert(0.1);
}

.services_content {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-top: 80px;
    padding-left: 15px;
    z-index: 1;
    position: relative;
}


.services_content h3,
.services_content p {
    color: #fff;
    transition: color 0.3s ease;
}

.services_content a {
    border: 1px solid transparent;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: rgb(185, 250, 89);
    color: #000;
    width: 50%;
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
}

.case-card-service {
    color: #000;
    text-transform: capitalize !important;
    letter-spacing: 1.5px;
    font-size: 14px;
    border: 1px solid transparent;
    padding: 5px 10px;
    border-radius: 16px;
    background: #f2f2f1;
}

.project-details-1-left .project-details-1-thumb img {
    width: 100%;
}

.tm-hero-text {
    padding-left: 0px;
}

.tm-hero-text p {
    max-width: unset;
}

.tp-service-5-area .container {
    max-width: 1440px;
}

.tp-service-5-title .text-space {
    padding-left: 0px;
}

.tp-service-5-item.space-1 {
    padding-left: 0px;
    padding-right: 0px;
}

.tp-service-5-item.space-2 {
    padding-left: 0px;
    padding-right: 0px;
}

.tp-service-5-item.space-3 {
    padding-left: 0px;
    padding-right: 0px;
}

.tp-service-5-wrap {
    margin-left: 0px;
}

.tp-service-4-icon {
    position: relative;
}

.tp-service-4-icon span {
    font-size: 130px;
    position: absolute;
    top: -8px;
    left: 268px;
    z-index: -1;
    opacity: 0.6;
    color: #8a83be;
    font-weight: 400;
}

.ab-about-category-title-box {
    padding-left: 0px;
}

.service_form {
    background: #f2f2f12e;
    backdrop-filter: blur(10px);
    border-radius: 14px;
    padding: 20px;
    min-height: 430px;
    box-shadow: 0 1px 8px rgb(214 214 214 / 73%);
}

.service_form input,
.service_form textarea {
    background-color: transparent;
    padding-left: 12px;
    height: unset;
    border-radius: 5px;
}

.service_form input::placeholder,
.service_form textarea::placeholder {
    font-size: 16px;
}

.service_form h2 {
    text-align: center;
    padding: 10px 0;
    margin-bottom: 15px;
}

.service_hero {
    padding-top: 90px !important;
    padding-bottom: 5px !important;
}

.service_hero h1 {
    font-size: 92px;
    font-weight: 400;
}

.service_hero p {
    padding-top: 20px;
    font-size: 15px;
}

.service_h1 {
    font-size: 3.2rem !important;
}

.services_box_changes {
    color: #000 !important;
    border-radius: 18px;
    width: 100%;
    min-height: 300px;
    margin: 10px 0;
    padding: 10px;
    transition: background-color .3s, color .3s;
    display: flex;
    position: relative;
    background-color: #f4f4f5;
    height: 350px;
    box-shadow: inset 0 -8px #0000000d, inset 0 4px #fff9, 0 3.77px 2px #0000000f, 0 3px 3px #0000001a;
}

.services_box_changes:hover {
    background-color: #000 !important;
    opacity: 1;
}

.services_box_changes:hover .services_content h3,
.services_box_changes:hover .services_content p {
    color: #fff !important;
}

.services_box_changes .services_image {
    margin-bottom: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 20;
}

.services_box_changes img {
    display: block;
    float: right;
    color: #000;
    transition: color 0.4s ease;
}

.services_box_changes:hover img {
    filter: brightness(0) invert(0.3);
}

.services_box_changes .services_content {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-top: 80px;
    padding-left: 15px;
    z-index: 99;
}

.services_box_changes .services_content h3,
.services_box_changes .services_content p {
    color: #000;
    transition: color 0.3s ease;
}

.services_box_changes .services_content a {
    border: 1px solid transparent;
    padding: 5px 10px;
    border-radius: 25px;
    background-color: rgb(185, 250, 89);
    color: #000;
    width: 50%;
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
}